openapi: 3.2.0
info:
  title: aiXplain Agents API
  version: '2026-09-22'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-22: 5 operation(s) read from 4 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; aiXplain has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-source-kind: mostly-language-sdk-reference
  x-source-caveat: 'every page read was a language SDK reference (a client library), not a REST reference: paths and methods are the ones those pages name, and no request or response shape was taken from them'
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-22'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://docs.aixplain.com/resources/faqs
  - https://docs.aixplain.com/api-reference/python/aixplain/v2/agent
  - https://docs.aixplain.com/api-reference/python/aixplain/v2/session
  - https://docs.aixplain.com/api-reference/python/aixplain/v2/trigger
servers:
- url: https://platform-api.aixplain.com
tags:
- name: Agents
paths:
  /v2/agents/{id}/run:
    post:
      operationId: post_v2_agents_id_run
      tags:
      - Agents
      summary: Stateless run is performed over POST /v2/agents/{id}/run
      x-source: https://docs.aixplain.com/api-reference/python/aixplain/v2/agent
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Success (status as documented)
